* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #1e1e1e;
    color:#ccc;
    /* min-width: 1300px; */
    min-width: 300px;
    width: 100%;
    -webkit-tap-highlight-color:transparent
}

.bg-img {
    background-attachment:fixed;
    background-image:url(https://bing.shangzhenyang.com/api/1080p);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-filter:blur(10px);
    filter:blur(10px);
    height:100%;
    left:0;
    top:0;
    opacity:.5;
    position:fixed;
    transform:scale(1.1);
    width:100%;
    z-index:-1
}

.nav_content {
    /* width: 1280px; */
    width: 90%;
    margin: 45px auto
}

.nav_content .item {
    min-width: 300px;
    width: 100%;
    margin-bottom: 30px
}

.nav_content .item h1 {
    margin: 12px;
    color: #E0E0E0
}

.nav_content .item h2 {
    font-size: 20px;
    color: #E0E0E0;
    margin: 12px
}

.nav_content .page{
    justify-content:center;
    text-decoration: none;
    box-shadow: 0.5rem 0.875rem 2.375rem rgb(39 44 49 / 6%), 0.0625rem 0.1875rem 0.5rem rgb(39 44 49 / 3%);
    align-items:center;
    flex-wrap: wrap;
    height: 720px;
    background:#424242;
    margin-top :35px;
    border: 2px solid #0277BD;
    max-width: 100%;
    width: 100%;
    min-width: 300px;
    margin: 10px 0.8%;
    text-align: center;
    display: block;
    font-size: 14px;
    color: #E0E0E0;
    border-radius: 6px
}

.github {
    float: right;
    margin-top: 8px;
    margin-right: 15px
}

.github svg {
    display: inline-block;
    width: 26px;
    height: 26px;
    fill: #E0E0E0
}

.nav_content .item .child {
    display: flex;
    flex-wrap: wrap
}

.nav_content .item .child .incert {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid #0277BD;
    border-radius: 6px;
    background: #424242;
    margin: 10px 0.8%;
    box-shadow: 0.5rem 0.875rem 2.375rem rgb(39 44 49 / 6%), 0.0625rem 0.1875rem 0.5rem rgb(39 44 49 / 3%)
}

.nav_content .item .child a {
    float: left;
    color: #E0E0E0;
    font-size: 14px;
    margin: 10px 0.8%;
    text-decoration: none;
    padding: 10px 14px;
    border: 2px solid #0277BD;
    border-radius: 6px;
    background: #424242;
    box-shadow: 0.5rem 0.875rem 2.375rem rgb(39 44 49 / 6%), 0.0625rem 0.1875rem 0.5rem rgb(39 44 49 / 3%);
    min-width: 18.4%;
    min-height: 62px;
    line-height: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center
}

.nav_content .item .child .contri {
    min-width: 0;
    flex-wrap: wrap
}

.nav_content .item .child .red {
    color: #B3E5FC;
    font-weight: bold;
}

.nav_content .item .child a:hover {
    background: #01579B;
    color: #FFF;
    font-weight: bold;
}

.nav_content .item .ota {
    align-items: center;
    margin: 10px 0.8%;
    box-shadow: 0.5rem 0.875rem 2.375rem rgb(39 44 49 / 6%), 0.0625rem 0.1875rem 0.5rem rgb(39 44 49 / 3%);
    text-align: center;
    display: block;
    font-size: 14px;
    color: #E0E0E0;
    text-decoration: none;
    background: #424242;
    border: 2px solid #0277BD;
    border-radius: 6px
}

.nav_content .item .ota:hover {
    border-color: #0277BD;
    background: #01579B;
    color: #FFF;
    font-weight: bold;
}

.nav_content .info {
    background: #424242;
    border-radius: 8px;
    padding: 5px 0;
    margin: 0 10px;
    margin-bottom: 20px;
    min-width: 300px;
    width: calc(100% - 20px);
    box-shadow: 0.5rem 0.875rem 2.375rem rgb(39 44 49 / 6%), 0.0625rem 0.1875rem 0.5rem rgb(39 44 49 / 3%);
    border: 2px solid #0277BD;
}

.nav_content .info h2 {
    margin: 10px;
    color: #EEEEEE;
    font-size: 20px;
}

.nav_content .info h3 {
    margin: 10px;
    color: #EEEEEE;
    font-size: 18px;
}

.nav_content .info p {
    margin: 10px;
    color: #E0E0E0;
    line-height: 1.5;
    font-size: 15px;
}

.nav_content .info a {
    color: #90CAF9;
}

.nav_content .info a:hover {
    color: #00B0FF;
}

/* 目录条 */

body{
    margin-top: 40px;
    padding: 1px 0;
}

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
    background-color:#F5F5F5;
}

::-webkit-scrollbar-thumb{
    background-color: #c1c1c1;
}

ins.adsbygoogle[data-ad-status="unfilled"]{
    display: none !important;
}

.el-message{
    z-index: 999992 !important;
}

.nav_menu{
    position: fixed;
    z-index: 999990;
    top: 0;
    left: 0;
    min-width: 300px;
    width: 100%;
    height: auto;
    background: rgba(255,255,255,.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 )
}

.nav_menu .menu_item,.menu_item_href{
    float: left;
    position: relative;
    line-height: 40px;
    padding: 0 .8%;
    cursor: pointer;
    margin: 0 5px;
    color: #F5F5F5;
    text-decoration: none;
    font-size:15px
}

.mainicon{
    margin: -8px 5px;
    height: 30px
}

.menu_item_href:hover{
    color:#fff;
}

.nav_menu .menu_item::after{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.nav_menu .menu_item_active {
    background: #0077B3;
}

.nav_menu .menu_item:hover .menu_child,.nav_menu .menu_item_active .menu_child{
    display: block !important;
}

.nav_menu .menu_item .menu_child,.nav_menu .search_box .search_val{
    display: none;
    position: absolute;
    z-index: 999991;
    width: 320px;
    font-size: 13px;
    padding: 10px;
    top: 40px;
    left: -25px;
    z-index: 1000000;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    max-height: 720px;
    overflow: auto;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 6px;
    border: 2px solid rgba( 255, 255, 255, 0.18 )
}

.nav_menu .menu_item .menu_child a,.nav_menu .search_box .search_val a{
    color: #E0E0E0;
    text-decoration: none;
    display: block;
    padding: 0 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 40px;
    text-align: left
}

.nav_menu .menu_item .menu_child a:hover,.nav_menu .search_box .search_val a:hover{
    background: #01579B;
    border: 2px solid #0277BD;
    color: #fff
}

.nav_menu .search_box{
    border: 2px solid #0277BD;
    position: relative;
    float: right;
    width: 10%;
    height: 26px;
    background: #424242;
    margin: 5px;
    margin-left: 0;
    border-radius: 4px;
    padding: 0 5px;
    padding-right: 25px;
}

.nav_menu .search_box input{
    height: 100%;
    width: 83%;
    border: 0;
    color: #ccc;
    outline: none;
    font-size: 13px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 5px;
}

.nav_menu .search_box svg{
    position: absolute;
    width: 21px;
    top: 2px;
    height: 21px;
    right: 2px;
    color: #ccc;
}

.nav_menu .search_box .search_val{
    display: block;
    left: auto;
    right: 0;
    top:33px;
}

.nav_menu .search_box .search_in{
    background: #424242;
    color: #ccc;
}

/* 右键菜单 */

#rcb_menu{
    display: none;
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
    box-sizing: border-box;
    border: 2px solid#0277BD;
    border-radius: 6px;
    z-index: 1100;
    background-color:#424242;
    box-shadow:0 0 10px#252423
}
#rcb_menu>li{
    border-radius: 6px;
    padding: 5px 10px 0 10px;
    height: 30px
}
#rcb_menu>li:hover{
    background-color:#01579B;
    color: #FFF;
    cursor: pointer
}
#rcb_menu>.hr_break{
    padding: 0;
    height: 1px;
    background-color:#A2A2A2
}
#rcb_menu>.hr_break:hover{
    background-color:#A2A2A2;
    cursor: default
}
#rcb_menu>#rcb_t6{
    display: none
}

/*********LoadingPage*************/

#loading {
  position: fixed;
  background-color: #424242;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000000;
}
#loading_bg{
  background-color: rgba(0,0,0,0.7);
}
.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #0277BD;
  letter-spacing: 0.2em;
}
.loader::before, .loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #0277BD;
  position: absolute;
  -webkit-animation: load .7s infinite alternate ease-in-out;
  animation: load .7s infinite alternate ease-in-out;
}
.loader::before {
  top: 0;
}
.loader::after {
  bottom: 0;
}

@-webkit-keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

/********************************/