[submodule "tools/rust-course"]
	path = tools/rust-course
	url = https://github.com/sunface/rust-course.git
	branch = gh-pages
[submodule "tools/rusty-book"]
	path = tools/rusty-book
	url = https://github.com/rustlang-cn/rusty-book.git
	branch = gh-pages
[submodule "tools/keyboard-mouse-tester"]
	path = tools/keyboard-mouse-tester
	url = https://github.com/shawon9324/keyboard-mouse-tester-webApp.git
	branch = main
[submodule "tools/ide"]
	path = tools/ide
	url = https://github.com/judge0/ide.git
	branch = master
