<div class="nav_menu">
	<a class="menu_item_href" href="/"><img alt="Main_icon" class="mainicon" src="/img/icon.svg"/>568Tools&nbsp;在线工具箱</a>
	<p class="menu_item_href">|</p>
	<div class="menu_item"><span>操作</span>
		<div id="nav" class="menu_child">
			<a href="/">回到主页</a>
			<a href="#">回到页顶</a>
			<a onclick="javascript:history.back(-1);">尝试返回</a>
		</div>
	</div>
	<p class="menu_item_href">|</p>
	<a class="menu_item_href" href="/comment">留言反馈</a>
	<a class="menu_item_href" href="/application">提交页面</a>
	<a class="menu_item_href" href="/about">关于</a>
	<div class="search_box"><input class="search_in" id="keyword" maxlength="18" placeholder="请键入关键词">
			<div id="searchContent"></div>
			<svg t="1626534436665" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4200" width="64" height="64">
				<path d="M466.69056 804.488541c-90.212628 0-175.009919-35.130102-238.789525-98.914824-131.605364-131.650389-131.605364-345.864192-0.007163-477.524814 63.785745-63.793932 148.58406-98.920964 238.796688-98.920964 90.214674 0 175.011966 35.128055 238.791571 98.920964 131.612527 131.660622 131.612527 345.874425 0 477.524814C641.702526 769.358439 556.905234 804.488541 466.69056 804.488541zM466.69056 177.066765c-77.399811 0-150.167115 30.142507-204.894553 84.876086-112.910583 112.965841-112.910583 296.77824 0.007163 409.737942 54.720276 54.726415 127.487579 84.866876 204.88739 84.866876 77.403904 0 150.169161-30.139437 204.895577-84.866876 112.919792-112.959701 112.919792-296.772101 0-409.737942C616.859721 207.208249 544.093441 177.066765 466.69056 177.066765z" p-id="4201" fill="#8a8a8a"></path>
				<path d="M860.908016 894.871037 726.797599 760.77597 760.691547 726.883045 894.802988 860.976066Z" p-id="4202" fill="#8a8a8a"></path>
			</svg>
	</div>
	<a href="https://github.com/PJ-568/568tools" target="_blank" rel="noopener noreferrer" title="github" class="github">
		<svg>
			<path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"></path>
		</svg>
	</a>
</div>